@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

#heading {
    padding-top: 7%;
    font-size: 3rem;
    font-family: 'Comfortaa', cursive;
}
.card {
    margin: 3%;
    width: 21rem;
    box-sizing: border-box;
    font-family: 'comfortaa', cursive;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    background: none;
}
a {
    text-decoration: none;
    color: #3f51b5;
    font-weight: bold;
    letter-spacing: 0.05rem;
  }
  
a:hover {
    text-decoration: underline;
  }
  
.card-header {
    padding: 0.5rem;
  }
  
.card-bottom {
    display: flex;
  }
  
.userInfo {
    margin: 4%;
    margin-left: 5%;
  }
  
.userInfo span {
    color: #3f51b5;
    font-weight: bold;
    letter-spacing: 0.05rem;
  }
  
.fas {
    font-size: 0.9rem;
  }
  